@page "/Admin"
@using MudBlazor

<h3>Admin</h3>

<h3>Bill Splitter</h3>

<!-- Display list of people and their contributions -->
<h4>People and their Contributions</h4>
<MudGrid>
   
</MudGrid>

@code {
    private decimal totalAmount { get; set; }
    private int numPeople { get; set; }
    private decimal EachShouldPay => numPeople > 0 ? totalAmount / numPeople : 0;
}