@using MudBlazor
@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mixe Wonders</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> *@

<MudPaper Width="250px" Class="@NavMenuCssClass" @onclick="ToggleNavMenu" Elevation="0">
    <MudNavMenu>
        <MudText Typo="Typo.h6" Class="px-4">My Application</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Secondary Text</MudText>
        <MudDivider Class="my-2" />
        <MudNavLink Href="/">Home</MudNavLink>
        <MudNavLink Href="/counter">Counter</MudNavLink>
        <MudNavLink Href="/billing" Disabled="true">Billing</MudNavLink>
        <MudNavGroup Title="Settings" Expanded="true">
            <MudNavLink Href="/SimpleBillSplitter">Simple BillSplitter</MudNavLink>
            <MudNavLink Href="/AdvancedBillSplitter">Advanced BillSplitter</MudNavLink>
        </MudNavGroup>
        <MudNavLink Href="/fetchleagues">Premier League</MudNavLink>
    </MudNavMenu>
</MudPaper>

@* <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SimpleBillSplitter">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Simple BillSplitter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AdvancedBillSplitter">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Advanced BillSplitter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchleagues">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Premier League
            </NavLink>
        </div>
    </nav>
</div> *@

@code {
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse py-3 nav-scrollable" : "py-3 nav-scrollable";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
